{% extends "index.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <!-- Start Carousel -->
        <div id="carousel-demo" class="carousel">
            <div class="item-1">
                <a href="/biography/early">
                    <div class="card-image">
                        <figure class="image is-16by9  is-covered">
                            <img src="https://images.unsplash.com/photo-1550921082-c282cdc432d6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
                                alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="biography-title">
                            Early Life
                        </div>
                        <div class="description">
                            This was his early life.
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-2">
                <a href="/biography/early_mid">
                    <div class="card-image">
                        <figure class="image is-16by9  is-covered">
                            <img src="https://images.unsplash.com/photo-1550945771-515f118cef86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80"
                                alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="biography-title">
                            Early-Mid Life
                        </div>
                        <div class="description">
                            This was his early mid life.
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-3">
                <a href="/biography/late_mid">
                    <div class="card-image">
                        <figure class="image is-16by9  is-covered">
                            <img src="https://images.unsplash.com/photo-1550971264-3f7e4a7bb349?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
                                alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="biography-title">
                            Late-Mid Life
                        </div>
                        <div class="item__description">
                            This was his late mid life.
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-4">
                <a href="/biography/late">
                    <div class="card-image">
                        <figure class="image is-16by9  is-covered">
                            <img src="https://images.unsplash.com/photo-1550931937-2dfd45a40da0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
                                alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="biography-title">
                            Late Life
                        </div>
                        <div class="description">
                            This was his late life.
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- End Carousel -->
    </div>
</section>



{% block biography %}{% endblock biography %}



{% endblock %}