<section class="hero is-white" style="border-bottom:1px solid #ececec">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="static/images/heart.png" style="margin-right:10px">
        <h1 style="font-size: 23px" href="/" class="subtitle"><strong>Volunteer Matching</strong></h1>
      </a>
      <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navbar-menu-id" class="navbar-menu">
      <div class="navbar-start">
        <!-- <a style="font-size: 16px ; letter-spacing:2px"href="/listings" class="navbar-item has-text-weight-light">
          Browse Opporunities
        </a>
        <a style="font-size: 16px ; letter-spacing:2px" href="/register" class="navbar-item has-text-weight-light">
          Recruit Volunteers
        </a> -->
        <a style="font-size: 16px ; letter-spacing:2px" href="/compositions" class="navbar-item has-text-weight-light">
          Compositions
        </a>
        <a style="font-size: 16px ; letter-spacing:2px" href="/import" class="navbar-item has-text-weight-light">
          Import
        </a>
        <a style="font-size: 16px ; letter-spacing:2px" href="/comments" class="navbar-item has-text-weight-light">
          Comments
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <!-- <p class="control">
              <a href="/logout" class="button is-primary is-outlined">
                <span>Logout</span>
              </a>
            </p> -->
            <a style="font-size: 16px ; letter-spacing:2px" href="/biography/early" class="navbar-item has-text-weight-light">
              Biography
            </a>
            <p class="control">
              <a id="showLoginModal" class="button is-primary is-outlined">
                <span> Login </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>